* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  width: 100vw;
  background-image: url(https://source.unsplash.com/random/1920x1080/?wallpaper,landscape);
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container {
  height: 70vh;
  width: 50vw;
  display: flex;
  direction: column;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
  background-color: rgba(34, 34, 60, 0.9);
  padding: 20px;
  border-radius: 20px;
}
h2 {
  color: aliceblue;
  font-family: monospace;
  font-size: 2rem;
}
.container #search {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
}
#search input {
  width: 60%;
  background-color: rgba(90, 90, 90, 0.5);
  padding: 10px 15px;
  border: none;
  color: white;
  font-size: 1.5rem;
  border-radius: 25px 0px 0px 25px;
}
#search button {
  padding: 10px 20px;
  border-radius: 0px 25px 25px 0px;
  background-color: white;
  color: white;
  border: 2px solid white;
  background-image: url(https://th.bing.com/th/id/OIP.9X1b7lcvbjhSXRwNLhqZ0wHaHa?w=210&h=211&c=7&r=0&o=5&pid=1.7);
  background-size: 32px 32px;
  background-repeat: no-repeat;
  background-position: center;

  height: 100%;
  width: 15%;
}
.weatherStatus {
  display: flex;
  justify-content: center;
  align-items: center;
}
.weatherStatus img {
  margin-right: 20px;
}
